body {
  background-image: url("../public/BGI.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
